.m-text6 {
    font-size: 20px;
    margin: 16px 0px;
}

.m-content6 {
    font-size: 16px;
    padding-bottom: 24px;
}

.m-services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 16px 0px;
}

.m-services-items {
    flex: 0 0 calc(25% - 20px);
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
    display: flex;
    flex-direction: column; 
    gap: 12px;
}

@media (max-width: 750px) {

    .m-services-items{
        flex: 0 0 calc(50% - 20px);
    }

}


.m-service-profile {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #ED6A5E;
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

.m-service-profile svg {
    width: 80%; /* Make the SVG take up the entire container */
    height: 80%; /* Adjust height to match the container */
    object-fit: contain; /* Preserve aspect ratio of SVG */
}

.m-service-title {
    font-size: 20px;
}

.m-service-content {
    font-size: 16px;

}

.dark-mode .m-service-content {
    color: #AECFDF;
}

.m-section8 { 
    padding-top: 16px;
}

.m-contact-cards {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.m-contact-cards-items {
    flex: 0 0 calc(50% - 40px); /* Change from 25% to 50% */
    aspect-ratio: 4 / 1;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    background-color: white;
    flex-direction: row;
    gap: 4px;
}

@media (max-width: 970px) {

    .m-contact-cards-items{
        flex: 0 0 calc(100% - 20px);
        aspect-ratio: 6 / 1;
    }
}

@media (max-width: 750px) {

    .m-contact-cards-items{
        flex: 0 0 calc(100% - 20px);
        aspect-ratio: 4 / 1;
    }
}

.dark-mode .m-contact-cards-items {
    background-color: #171b22;
}

.m-contact-icon {
    width: 100px;
    height: 100px;
    background-color: #ED6A5E;
    border-radius: 20px;
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

.m-contact-icon svg{
    width: 80%; /* Make the SVG take up the entire container */
    height: 80%; /* Adjust height to match the container */
    object-fit: contain; /* Preserve aspect ratio of SVG */
}

.m-contact-text {
    padding: 8px;
}

.m-contact-title {
    font-size: 16px;
}

.m-contact-content {
    font-size: 22px;
    padding-top: 12px;
}

.m-map {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 24px;
    

}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
